# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

#Frontend

# dependencies
Frontend/node_modules/

# Expo
Frontend/.expo/
Frontend/dist/
Frontend/web-build/
Frontend/expo-env.d.ts

# Native
Frontend/.kotlin/
Frontend/*.orig.*
Frontend/*.jks
Frontend/*.p8
Frontend/*.p12
Frontend/*.key
Frontend/*.mobileprovision

# Metro
Frontend/.metro-health-check*

# debug
Frontend/npm-debug.*
Frontend/yarn-debug.*
Frontend/yarn-error.*



# local env files
Frontend/.env*.local

# typescript
Frontend/*.tsbuildinfo

# generated native folders
/ios
/android

#Backend

HELP.md
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
Backend/!**/src/main/**/target/
Backend/!**/src/test/**/target/

### STS ###
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
Backend/.vscode/
